div {
    border: 1px solid #ffdecf;
    background-color: #596e79;
    width: 100%;
}
.a {
    height: 75px;
    background-color: #e7dfd5;
}
.b {
    height: 150px;
    background-color: #84a9ac;

}
.c, .d {
    height: 125px;
    background-color: #3b6978;

}

.d {
    background-color: #726a95;
}

.e, .f, .g, .h {
    width: 50%;
    height: 250px;
    background-color: #204051;

}

.f { background-color: #a0c1b8; }

.g { background-color: #127681; }

.h { background-color: #f4ebc1; }

.i {
    height: 80px;
    background-color: #709fb0;

}

@media(min-width: 480px) {
    div {
        background-color: #dfd3c3!important
    }
    .a {
/*         grid-column: 1 / 6; */
        background-color: #937d14!important

    }
    .b {
/*         grid-column: 1 / 2; */
        background-color: #ffecc7!important

    }
    .c {
/*         grid-column: 2 / 4; */
        background-color: #fdd998!important

    }
    .d {
/*         grid-column: 4 / 6;   */
        background-color: #f5b971!important

    }
    .e {
/*         width: 100%; */
/*         grid-column-start: 2; */
        background-color: #85a392!important

    }
    .f {
/*         width: 100%;
        grid-column: 3 / 4; */
        background-color: #f0daa4!important

    }
    .g {
/*         width: 100%;
        grid-column: 4 / 5; */
        background-color: #eaac9d!important

    }
    .h {
/*         width: 100%;
        grid-column: 5 / 6; */
        background-color: #b49c73!important

    }
    .i {
/*         width: 100%;
        grid-column: 2 / 6; */
        background-color: #565d47!important

    }
}

@media(min-width: 768px) {
    .a {
                grid-column: 1 / 6;
        height: 100px;
    }
    .b {
                grid-column: 1 / 2;

        height: 600px;
    }
    .c {
                grid-column: 2 / 4;
       height: 200px;
    }
    .d {
                grid-column: 4 / 6;  

        height: 200px;
    }
    .e {
                width: 100%;
        grid-column-start: 2;

        height: 250px;
    }
    .f {
                width: 100%;
        grid-column: 3 / 4;

        height: 250px;
    }
    .g {
                width: 100%;
        grid-column: 4 / 5;
        height: 250px;
    }
    .h {
                width: 100%;
        grid-column: 5 / 6;

        height: 250px;
    }
    .i {
                width: 100%;
        grid-column: 2 / 6;

        height: 150px;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .a {
         background-color: #bbe1fa!important

    }
    .b {
        background-color: #3282b8!important

    }
    .c {
        background-color: #0f4c75!important

    }
    .d {
        background-color: #596e79!important

    }
    .e {
        background-color: #84a9ac!important

    }
    .f {
        background-color: #204051!important

    }
    .g {
        background-color: #383e56!important

    }
    .h {
        background-color: #0fabbc!important

    }
    .i {
        background-color: #12cad6!important

    }
}



@media(min-width: 960px) {
    div {
        background-color: #f0ece3;
    }
}

